<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Score</title>
    <!-- <link rel="stylesheet" href="score.css" type="text/css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <center>
        <h1 style="color: red;">Score is here</h1>
        <div class="shadow-lg p-3 mb-5 bg-white rounded" id="box" style="margin-top: 100px;height: 400px;width: 400px;">
        <h2 style="color: blue;">Your Score</h2>   
         <p style="font-size: 50px;color: green;margin-top: 60px;"><%= score %></p>
        </div>
        <a href="/viewAnswer/<%= id %>">
            <button id="score" class="btn btn-warning viewAnswer">View Answers</button>
        </a>
    </center>
        <script src="http://127.0.0.1:5000/score.js" type="text/javascript"></script>     
</body>
</html>